body {
    background-color: aquamarine;
    margin: 0;
}

/* Agora a box ocupa altura TOTAL, sem limitar a largura */
.boxCadastro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* começa de cima e desce */
    align-items: center;
    padding-top: 30px;
    height: 100vh;
    width: 100%;
}

/* Formulário 100% vertical */
#formCadastro {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #65e0e9;
    padding: 25px;
    border-radius: 10px;

    width: 90%;
    /* ocupa quase toda a tela */
    max-width: 500px;
    /* mas sem ficar gigante */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/* Inputs */
#formCadastro input[type="text"],
#formCadastro input[type="password"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #009ea6;
}

/* Botões */
.btn {
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.salvar {
    background-color: #007c80;
    color: white;
}

.inicio {
    background-color: #003b3d;
    color: white;
    width: 150px;
    /* botao inicio menor */
    margin-top: 10px;
}

.bd {
    background-color: aquamarine;
    padding-right: 2%;
    padding-left: 2%;
}

.header {
    width: 100%;
    height: 70px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    height: 55px;
}

.user-area {
    position: relative;
}

.user-btn {
    background-color: #004f4f;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.user-btn:hover {
    background-color: #006a6a;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
}

.dropdown a {
    padding: 12px 15px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown a:hover {
    background-color: #eee;
}