.Titulo{
    text-align: center;
}
.body {
    background-color: aquamarine;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 20px;
}

#formCompleto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #65e0e9;
    padding: 20px;
    border-radius: 10px;
}